<!doctype html>
<html lang="en">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO -->
  <title>404 Not Found</title>
  <meta name="description" content=""/>
  <meta name="robots" />
  <meta name="keywords" content=""/>
  <link rel="canonical" />

  <!-- Social -->
  <link rel="publisher">

  <!-- Social: OG -->
  <meta property="og:locale" content="en" />
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="404"/>
  <meta property="og:description" content="404"/>
  <meta property="og:url" />
  <meta property="og:site_name" content="NgEngine-boilerplate"/>
  <meta property="og:updated_time" />
  <meta property="og:image" content="/assets/images/icons/favicon-96x96.png" />
  <!-- Social: Article -->
  <meta property="article:publisher" />
  <meta property="article:tag" />
  <meta property="article:section" />
  <meta property="article:published_time" />
  <meta property="article:modified_time" />
  <!-- Social: Twitter -->
  <meta name="twitter:card" />
  <meta name="twitter:description" />
  <meta name="twitter:title" />
  <meta name="twitter:site" />
  <meta name="twitter:image" />
  <meta name="twitter:creator" />

  <!-- icons -->
  <link rel="icon" type="image/x-icon" href="/assets/images/icons/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons/favicon-16x16.png">
  <link rel="manifest" href="/assets/images/icons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/images/icons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body class="mat-app-background">
  <app-root>404</app-root>
</body>
</html>
